:root {
    --main-color: #fd4646;
    --text-color: #171427;
    --bg-color: #fff;
}

.background {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    height: 100%;
    position: relative;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #000000;
}
.categories {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.categories select {
    margin-bottom: 20px;
    font-size: 16px;
    padding: 10px;
}